body {
  background-color: lightgrey;
}

.library {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: 10px;
}

.row {
  width: 95vw;
}

.col {
  height: 400px;
  width: 48%;
  border-radius: 5px;
  margin: 20px 5px;
  background-color: white;
  position: relative;
}

.first-col {
  float: left;
}

.second-col {
  float: right;
}

.course-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  border-radius: 5px 5px 0px 0px;
}

.fa-map-o {
  color: white;
  position: absolute;
  top: 35px;
  left: 40px;
}

.circles {
  color: white;
  position: absolute;
  opacity: .4;
  top: 43px;
  left: 100px;
}

.time {
  position: absolute;
  color: white;
  top: 21px;
  right: 50px;
}
#java-nav {
  background-color: green;
}

#django-nav {
  background-color: pink;
}

#woo-nav {
  background-color: lightblue;
}

#javaFX-nav {
  background-color: green;
}
